/*-----------------
    COMMONS
-----------------*/
body {
    color: #fff;
}

section {
    margin-bottom: 50px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

i:not(.fa-bars) {
    font-size: 10px;
}

/*--------------------
    BACKGROUND COLOR
--------------------*/
.ms_bg-color-primary {
    background-color: #1f1f1f;
}

.ms_bg-color-secondary {
    background-color: #bebcbb;
}

.ms_bg-color-tertiary {
    background-color: #161c3b;
}

.ms_bg-color-quaternary {
    background-color: #00439c;
}

/*-----------------
    TYPO
-----------------*/
.text-gray {
    color: #7e7e7e; 
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

/*-----------------
    BUTTONS
-----------------*/
.ms_btn {
    border-radius: 20px;
    color: #fff;
}

.ms_btn-black {
    background-color: #363636;
}

.ms_btn-primary-invert {
    background-color: #d9dadc;
    color: #0d6efd;
}

.ms_btn-white {
    background-color: #fff;
    color: #000;
}

/*-----------------
    HEADER
-----------------*/
.header-top {
    background-color: #000;
}

.sony-logo {
    height: 14px;
}

.header-bottom {
    background-color: #fff;
}

.header-bottom ul li {
    display: inline-block;
    margin: 0 10px;
}

.header-bottom ul li a {
    color: #000;
}

.header-bottom ul li i {
    color: #acacac;
    font-size: 12px;
    cursor: pointer;
}

.lens {
    height: 20px;
}

/*------------------------
    MAIN - HERO SECTION
------------------------*/
.hero-banner {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.returnal {
    padding: 200px 0 40px;
}

.returnal-img {
    height: 40px;
}

.hero-play img {
    border-radius: 15px;
}

.action-img {
    border: 2px solid #0273ce;
    padding: 3px;
}

/*-------------------------------
    MAIN - PLAYSTATION SECTION
-------------------------------*/
.playstation-title h6 {
    text-transform: uppercase;
    color: #0273ce;
}

.opacity {
    opacity: 0.6;
    border-bottom: 2px solid transparent;
}

.active-opacity {
    opacity: 1;
    border-bottom: 2px solid #0273ce;
}

/*-------------------------------
    MAIN - NEW RELEASES SECTION
-------------------------------*/
.takes-two-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.takes-two {
    padding: 60px 0 40px;
}

.new-releases-img img {
    border-radius: 15px;
}

/*-------------
    FOOTER
-------------*/
.play-small-logo {
    color: #fff;
    height: 80px;
}

.globe-img {
    height: 20px;
}

.sony-footer-logo {
    height: 50px;
}

footer nav ul li a {
    color: #fff;
}

/*--------------------------
    EFFECTS & ANIMATIONS
--------------------------*/
.opacity:hover {
    opacity: 1;
    border-color: #0273ce;
}