/*-----------------
    COMMONS
-----------------*/
body {
    color: #fff;
}

/*-----------------
    TYPO
-----------------*/
.text-gray {
    color: #7e7e7e; 
}

.text-black {
    color: #000;
}

/*-----------------
    BUTTONS
-----------------*/
.ms_btn {
    border-radius: 20px;
    color: #fff;
}

.ms_btn-black {
    background-color: #363636;
}

.ms_btn-white {
    background-color: #d9dadc;
    color: #0d6efd;
}

/*-----------------
    HEADER
-----------------*/
.header-top {
    background-color: #000;
}

.sony-logo {
    height: 14px;
}

.header-bottom {
    background-color: #fff;
}

.header-bottom ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.header-bottom ul li a {
    text-decoration: none;
    color: #000;
}

.header-bottom ul li i {
    color: #acacac;
    font-size: 12px;
    cursor: pointer;
}

.lens {
    height: 20px;
}

/*------------------------
    MAIN - HERO SECTION
------------------------*/
.hero {
    margin-bottom: 90px;
}

.hero-banner {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.returnal {
    padding: 200px 0 40px;
}

.returnal-img {
    height: 40px;
}

.hero-play img {
    border-radius: 15px;
}

.action-img {
    border: 2px solid #0072ce;
    padding: 3px;
}

/*-------------------------------
    MAIN - PLAYSTATION SECTION
-------------------------------*/
.playstation {
    margin: 80px 0 40px;
}

.playstation-title h6 {
    text-transform: uppercase;
    color: #0273ce;
}

.console-img {
    height: 350px;
}

.opacity {
    opacity: 0.6;
}

.active-opacity {
    opacity: 1;
    border-bottom: 2px solid #0273ce;
}

/*-------------------------------
    MAIN - NEW RELEASES SECTION
-------------------------------*/
.new-releases {
    background-color: #1f1f1f;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.takes-two-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.takes-two {
    padding: 60px 0 40px;
}

.takes-two-img {
    height: 150px;
}

.new-releases-img img {
    border-radius: 15px;
}

/*--------------------------------
    MAIN - PLAYSTATION 4 SECTION
--------------------------------*/
.playstation-4 {
    margin-bottom: 70px;
}

/*-----------------------------------
    MAIN - PLAYSTATION PLUS SECTION
-----------------------------------*/
.playstation-plus {
    background-color: #bebcbb;
    margin-bottom: 50px;
}

/*---------------------------------
    MAIN - NEW DISCOUNTS SECTION
---------------------------------*/
