/*-----------------
    COMMONS
-----------------*/
body {
    color: #fff;
}

/*-----------------
    BUTTONS
-----------------*/
.ms_btn {
    border-radius: 20px;
    color: #fff;
}

.ms_btn-black {
    background-color: #363636;
}

.ms_btn-red {
    background-color: #cd3d0f;
}

/*-----------------
    HEADER
-----------------*/
.header-top {
    background-color: #000;
}

.sony-logo {
    height: 14px;
}

.header-bottom {
    background-color: #fff;
}

.header-bottom ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.header-bottom ul li a {
    text-decoration: none;
    color: #000;
}

.header-bottom ul li i {
    color: #acacac;
    font-size: 12px;
    cursor: pointer;
}

.lens {
    height: 20px;
}

/*------------------------
    MAIN - HERO SECTION
------------------------*/
.hero-banner {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.returnal {
    padding: 200px 0 40px;
}

.returnal-img {
    height: 40px;
}

.hero-play img {
    border-radius: 15px;
}

.action-img {
    border: 2px solid #0072ce;
    padding: 3px;
}

/*-------------------------------
    MAIN - PLAYSTATION SECTION
-------------------------------*/
